src/assets/n8n json/workflow2completo.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "options": {}
      },
      "id": "1a2b3c4d-webhook",
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "lookup",
        "documentId": {
          "__rl": true,
          "value": "ID_DE_TU_GOOGLE_SHEET",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sesiones",
          "mode": "list"
        },
        "lookupColumn": "Telefono",
        "lookupValue": "={{ $json.body.entry[0].changes[0].value.messages[0].from }}",
        "options": {}
      },
      "id": "2b3c4d5e-sheets1",
      "name": "Verificar si es Bot o Humano",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Estado }}",
              "value2": "bot"
            }
          ]
        }
      },
      "id": "3c4d5e6f-if1",
      "name": "¿El Bot está encendido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [440, 0]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.entry[0].changes[0].value.messages[0].text.body }}",
        "options": {
          "systemMessage": "## ROL\nEres \"DistriBot\", el Asistente de Ventas Inteligente de nuestra Distribuidora Mayorista...\n[PEGA AQUÍ EL RESTO DEL PROMPT DE ARRIBA]"
        }
      },
      "id": "agent-node",
      "name": "Agente IA (DistriBot)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [720, -20]
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "id": "gemini-model",
      "name": "Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [720, 220]
    },
    {
      "parameters": {
        "sessionId": "={{ $('Webhook WhatsApp').item.json.body.entry[0].changes[0].value.messages[0].from }}"
      },
      "id": "memory-node",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [880, 220]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "wait-node",
      "name": "Simular Escritura (5s)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1080, -20]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/TU_NUMERO_ID/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer TU_TOKEN_DE_META"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('Webhook WhatsApp').item.json.body.entry[0].changes[0].value.messages[0].from }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text.body",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-whatsapp",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1300, -20]
    }
  ],
  "connections": {
    "Webhook WhatsApp": {
      "main": [
        [
          {
            "node": "Verificar si es Bot o Humano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar si es Bot o Humano": {
      "main": [
        [
          {
            "node": "¿El Bot está encendido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿El Bot está encendido?": {
      "main": [
        [
          {
            "node": "Agente IA (DistriBot)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente IA (DistriBot)": {
      "main": [
        [
          {
            "node": "Simular Escritura (5s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente IA (DistriBot)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente IA (DistriBot)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simular Escritura (5s)": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}